/*

!/.gitignore

!/administrator/
/administrator/*
!/administrator/components/
/administrator/components/*
!/administrator/components/com_menus/
!/administrator/components/com_menus/*


!/components/
/components/*
!/components/com_menus/
!/components/com_menus/*


!/modules/

/modules/*
!modules/mod_menu/
!modules/mod_menu/*



!/plugins/
/plugins/*
!/plugins/finder/
!/plugins/finder/*

